.seat-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 300px; 
}

.seat-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
}

.Available {
  background-color: green;
  color: white;
}

.Booked {
  background-color: red;
  color: white;
}

.container {
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
}

.form-group {
  max-width: 150px;
  margin: 10px auto;
  text-align: center;
}

button {
  margin-top: 10px;
}

