<div>
<h4>Train Seat Reservation System</h4>

<!-- Display the seats with their status -->
<div class="seat-container">
  <div *ngFor="let seat of seats; let i = index" class="seat-box" [ngClass]="seat.status">
    {{ seat.id }}
  </div>
</div>

<div class="container mt-5">
<div class="form-group">
<input type="number" class="form-control" id="seatsInput" [(ngModel)]="requestedSeats" min="1" max="7" required />
  <button class="btn btn-primary btn-block" (click)="bookSeats(requestedSeats)">Book Seats</button>
</div>

<!-- <input type="number" [(ngModel)]="requestedSeats" placeholder="Enter number of seats" min="1" max="7" />
<button (click)="bookSeats(requestedSeats)">Book Seats</button> -->

<div *ngIf="Booked.length">
  <h6>Booked Seats Numbers <br> {{ Booked.join(', ') }}</h6>
</div>
</div>
